<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      My Account
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to "my reviews", user_path(current_user), class: "dropdown-item" %>
      <a class="dropdown-item" href="#">Another action</a>
      <%= link_to "Logout", logout_path, class: "dropdown-item", method: "delete" %>
    </div>
  </li>