

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <%= link_to "Product Review", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav">
    <li class="nav-item">
        <%= link_to "User Rankings", users_path, class: "nav-link" %>
    </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarNav">
    <%= product_dropdown %>
    <ul class="navbar-nav ml-auto">
      <%= nav_content %>
    </ul>
  </div>
</nav>