
<h2>Edit <%= current_user.username %>s' info</h2>

<%= render partial: "shared_errors", locals: {obj: @user} %>

<%= form_for @user do |f| %>
  <%= render partial: "signup", locals: {f: f} %>
<% end %>