
<h2>Edit <%= current_user.username %>s' info</h2>



<div class="row bg-light rounded">
    <div class="col-md-6">
       <%= user_form(@user, user_path(@user), "Edit User") %>
      
    </div>
  </div>