<% content_for :title do %>
  User Rankings
<% end %>



  
  <%= page_header("User Rankings", sub_header: "See where you are ranked") %>
  <%= link_to "Reverse order", users_path, id: "reverse" %>

  <ol>
    <% @users.each do |name, reviews| %> 
    <div class="card-body">
      <li class="font-italic"> <%= "#{name}, Number of Reviews - #{reviews}" %></li> 
    </div>
    <% end %>
  </ol>