  
  <% content_for :title do %>
    Signup
  <% end %>
  
  <h1>Signup</h1>
  <%= page_header("Signup") %>

  <%= flash_message(flash[:notice], "danger") %>
  
  
  
  
  <div class="row bg-light rounded">
    <div class="col-md-6">
       <%= user_form(@user, signup_path, "Signup") %>
      
    </div>
  </div>



