<div class="container">
  <h1>Signup</h1>
  
  <%= render partial: "shared_errors", locals: {obj: @user} %>
  
  
  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render partial: "signup", locals: {f: f} %>
  <% end %>

</div>

