<div class="container">
  <h1> <%= current_user.username %>s' page</h1> 
  
  
  <div class="card-columns d-flex p-2">
  <% current_user.products.each do |product| %>
  
  
    <div class="card col-sm-3 container">
      <img class="card-img-top" src="<%= product.img %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <%= render partial: "products/collapse_description", locals: {product: product} %>
      </div>
    </div>
    
  
        <% end %>
    </div>


        <% current_user.products.each do |product| %>
        
        
          
          
        
              <% end %>



</div>
