<h1> <%= current_user.username %>s' page</h1> 


<!-- has products the user has reviewed -->
<div class="col-sm-3">
  <% current_user.products.each do |product| %>
  
    <figure class="figure">
      <strong><%= product.name %></strong>
      <h4></h4>
      <img src="<%= product.img %>" class="figure-img img-fluid rounded max-width: 100%" alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption"> <%= product.reviews_content %></figcaption>
    </figure>
  <% end %>

</div>