

<div class="jumbotron jumbotron-fluid rounded-circle text-center">
  <div class="container">
    <h1 class="display-4">Welcome to Product Review</h1>
    <p class="lead">Sign up or Login to:</p>
    <p>-Add reviews to products</p>
    <p>-Mangage your reviews</p>
    <p>-See Products you have made reviews on</p>
    <p>-and vote for products!</p>
  </div>
</div>





