<% if obj.errors.any? %>
  <ul class="list-group">
    <% obj.errors.each do |attribute, message| %>
      
        <span class="text-danger"><%= "#{attribute unless attribute == :user_id} #{message}" %></span>
      
      
    <% end %>
  </ul>
<% end %>
