
<div class="btn-group-vertical mx-auto">
    <%= link_to like_product_path(@product), method: :put, class: "btn btn-success mb-1" do %> 
    Upvote
    <span class="badge badge-light"><%= @product.get_upvotes.size %></span>
    <span class="sr-only">Upvotes</span>
    <% end %>
    <%= link_to dislike_product_path(@product), method: :put, class: "btn btn-success" do %> 
    Downvote
    <span class="badge badge-light"><%= @product.get_downvotes.size %></span>
    <span class="sr-only">Downvotes</span>
    <% end %>
  </div>
