<p>
  <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Description
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= product.description %>
  </div>
</div>