<p>
  <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#<%=product.id %>" aria-expanded="false" aria-controls="collapseExample">
    Description
  </button>
</p>
<div class="collapse" id="<%= product.id %>">
  <div class="card card-body">
    <%= product.description %>
  </div>
</div>